@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:#2E9CE6;
    padding: 3em;
    color:#fff;
}

ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}

ul li {
    display:inline;
    margin-right: 30px;
}

ul li a {
    font-size: 1.5em;
}

a {
    color:#fff;
    text-decoration:none;
}

* { 
    font-family: 'Raleway', 'Arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.messages-panel {
    margin-top: 20px;
    float: left;
}

.users-panel {
    margin-top: 20px;
    float: right;
}

.send-form { 
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#message { 
    padding: 9px;
    width: 90%;
}

.system-message {
    display: inline-block;
    color: #D3D3D3;
}

input, #message-send {
    width: 7%;
    background: #fff;
    color: black;
    border: none;
    padding: 10px;
}

#users {
    width: 100px;
    min-height: 500px;
    overflow: scroll-y;
}

input[type=submit], .user {
    cursor: pointer;
}

.date {
    display: inline-block;
    margin-right: 2px;
    width: 120px;
}