<!DOCTYPE html>
<html>

<head>
  <script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="main.css">
	<title>Socket.io Private Chat</title>
</head>

<body>
  {{{body}}}
</body>
</html>